* {
    padding: 0;
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
img {
    max-width: 100%;
    height: border-box;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0.75)), url("backgr.jpg");
    background-size: cover;
    background-position: center;
}
.float-left {
    height: 600px;
    width: 700px;
    position: relative;
}
.nav-link{
    text-decoration: none;
    color: antiquewhite;
    text-transform: uppercase;
    position: relative;
    font-family: sans-serif;
}
.nav-link:hover{
    color: antiquewhite;
}
.nav-link:hover::after{
    width: 100%;
}
.greet {
    font-size: 700%;
    color: blanchedalmond;
}
.greet2 {
    font-family: 'Playfair Display', serif;
    font-size: 500%;
    color: burlywood;
}
@media only screen and (max-width: 1400px) {
    .greet {
        font-size: 3em;
    }
    .greet2 {
        font-size: 2em;
    }
    p {
        font-size: 0.9em;
        line-height: 1.3;
    }
}
.part1 {
    background-color: black;
    color: antiquewhite;
    background-size: cover;
}
.btn-lg {
    font-family: sans-serif;
    height: 70px;
    width: 20%;
    border: none;
    outline: none;
    background-color: burlywood;
    color: black;
    font-weight: 900;
    border-radius: 60px;
}
h2, p {
    margin: 15px 15px;
    font-family: sans-serif;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 2.0;;
}
.goUpBtn {
    background: burlywood;
    position: fixed;
    bottom: 16px;
    right:32px;
    width:50px;
    height :50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:32px;
    color: black;
    text-decoration: none;
    opacity: 1;
    pointer-events: auto;
    transition: all .4s;
}

.goUpBtn.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}
.footer {
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("footer.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.icon-row {
    display: flex;
    align-items: center;
}
/*.menu-item {
    transition: box-shadow 0.3s ease;
}
.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
.info {
    margin-top: -1rem;
}*/
.card {
    width: 300px;
    height: 300px;
    border-radius: 30px;
    display: flex;
    align-items: flex-end;
    padding: 2rem 1rem;
    position: relative;
    transition: 0.5s all ease-in-out;
}
.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.8));
    z-index: 2;
    opacity: 0;
    transition: 0.5s all;
}
.card:hover::before {
    opacity: 1;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 30px;
    top: 0;
    left: 0;
}
.card .info {
    position: relative;
    color: #fff;
    z-index: 3;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}
.card:hover .info {
    opacity: 1;
    transform: translateY(0);
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.gallery-card{
    width: 45%;
    height: 40%;
    display: inline-block;
    border-radius: 40px;
    padding: 15px 25px;
    box-sizing: border-box;
    margin: 10px 15px;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
/*.row {
    display: flex;
    height: 88%;
    align-self: center;
}*/
.col {
    flex-basis: 50%;
}

.gallery-card:hover {
    transform: translateY(-10px);
}
.new-card{
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    background-color: antiquewhite;
}
.card-title{
    font-weight:600;
}
.img-fluid{
    height: 300px!important;
    cursor: pointer;
    transition: transform 2s, filter 1.5s ease-in-out;
    transform-origin: center center;
    filter: brightness(50%);
}
.img-fluid:hover{
    filter: brightness(100%);
    transform: scale(0.9);
}


.heading {
    font-size: 25px;
    margin-right: 25px;
}

.fa {
    font-size: 25px;
}

.checked {
    color: orange;
}

/* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top:10px;
}

.middle {
    margin-top:10px;
    float: left;
    width: 70%;
}

/* Place text to the right */
.right {
    text-align: right;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The bar container */
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #04AA6D;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
    .side, .middle {
        width: 100%;
    }
    .right {
        display: none;
    }
}

* {box-sizing: border-box;}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid antiquewhite;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container-comment {
    border-radius: 5px;
    background-color: antiquewhite;
    padding: 20px;
}